rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /UI/{document=**} {
      allow read, write: if true;
    }
           match /Users/{document=**} {
      allow read, write;
    }
        match /Technicians/{document=**} {
      allow read, write;
    }   
     match /review/{document=**} {
      allow read, write;
    }   
      match /Chat/{document=**} {
      allow read, write;
    }
    match /messages/{document=**} {
      allow read, write;
    }
     match /chat/{document=**} {
      allow read, write;
    }match /requestFix/{document=**} {
      allow read, write;
    }
  }
}